/* || HOME PAGE */

.introduction {
  width: 100%;
  height: 300px;
  border-radius: 9px;

  padding: 15px;

  background-color: #1b1a17;
  box-shadow: 9px 9px 9px black;
}

.title-image {
  background-image: url("../images/servers.jpg");
  background-size: 120%;
}

.world-image {
  margin-top: 20px;
  background-image: url("../images/world_map.png");
  height: 505px;
}

.transition {
  margin-bottom: 30px;
  margin-top: 50px;
}

.features {
  display: flex;

  height: 100%;
  margin-bottom: 10px;
}

.feature-box {
  background-color: #1b1a17;
  border-radius: 9px;

  padding: 15px;
  margin-right: 1em;
  margin-bottom: 1em;

  box-shadow: 9px 9px 9px black;
}

.feature-box h4 {
  margin-bottom: 0.5em;
}

.feature-box:last-of-type {
  margin-right: 0;
}

/* || Media Queries */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .title-image {
    background-size: 200%;
  }

  .world-image {
    background-repeat: no-repeat;
    background-position: -90px;
  }

  .features {
    height: 100%;
    flex-direction: column;
  }

  .feature-box {
    margin: 0px 0px 20px 0px;
    width: 100%;
  }

  .transition {
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 950px) {
  .mid-section {
    max-width: 500px;

    margin: 0 auto;
  }

  .features {
    margin: 0 auto;
    flex-direction: column;
  }

  .feature-box {
    margin-right: 0;
    width: 100%;
    max-width: 550px;
  }
}
