/* || GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

p {
  font-size: 1.05em;
}

/* || SITEWIDE */

.page-container {
  background-color: #262521;
}

.page,
.footer {
  width: 900px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 30px 5px;
}

/* || Header */

.header {
  padding-top: 20px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 75%;
}

.navbar {
  margin-top: 45px;
}

.navbar li {
  display: inline;
  margin-right: 45px;
}

.navbar li:last-of-type {
  margin-right: 0px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: darkseagreen;
}

/* || Footer */

.footer-container {
  background-color: #1b1a17;
}

.footer {
  padding: 35px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;
}

.footer img {
  width: 30px;
}

.footer li {
  margin-bottom: 8px;
}

.footer-contact h4,
.footer-links h4 {
  margin-bottom: 8px;
}

.footer-item {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.footer-company-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.footer-company-title a {
  font-size: 0.85em;
  margin: 0 5px;
}

/* || Media Queries */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1.1em;
  }

  h4 {
    font-size: 1.05em;
  }

  p {
    font-size: 1em;
  }

  .page-container {
    padding: 20px;
  }

  .page,
  .footer {
    width: 100%;
  }

  .header {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .navbar {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar li {
    margin-right: 5px;
    font-size: 1.04em;
  }

  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-item {
    margin: 0px 0px 30px 0px;
  }

  .footer-company-title {
    align-items: center;
  }

  .footer-contact-support {
    margin-bottom: 5px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 950px) {
  h1 {
    font-size: 2.2em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 0.95em;
  }

  .page-container {
    padding: 20px;
  }

  .footer-container {
    padding: 20px;
  }

  .page,
  .footer {
    width: 100%;
  }

  .navbar li {
    margin-right: 13px;
  }

  .footer {
    font-size: 0.9em;
  }
}
