/* || MITIGATION */

.mitigation {
  display: flex;
}

.mitigation-side {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 720px;
}

.mitigation-side:first-of-type {
  margin-right: 40px;
}

.mitigation-item {
  width: 100%;
  border-radius: 9px;
  padding: 1em;
  margin-bottom: 1em;

  background-color: #1b1a17;
  box-shadow: 9px 9px 9px black;
}

.mitigation-header {
  height: 300px;

  background-image: url("../images/ethernet.jpg");
  background-size: 100%;

  margin-bottom: 25px;
}

.mitigation-header h2 {
  font-weight: normal;
}

.mitigation-types {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.mitigation-types-header {
  font-weight: normal;

  background-image: url("../images/globe.png");
  background-size: 160%;

  margin-bottom: 25px;

  height: 350px;
}

.mitigation-type {
  display: flex;
  width: 46%;
  height: 29%;
}

.mitigation-type h3 {
  margin: auto auto;
  font-weight: normal;
}

.mitigation-types-header h2 {
  font-weight: normal;
}

.mitigation-feature {
  font-size: 0.95em;
}

.mitigation-feature h3 {
  margin-bottom: 0.5em;
}

/* || Media Queries */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .mitigation {
    flex-direction: column;
  }

  .mitigation-side {
    width: 100%;
    height: 100%;
  }

  .mitigation-header {
    background-size: 170%;
  }

  .mitigation-types-header {
    background-size: 370%;
    background-position: -150px;
  }

  .mitigation-side:first-of-type {
    margin-bottom: 30px;
  }

  .mitigation-type {
    width: 47%;
    height: 100px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 950px) {
  .mitigation {
    flex-direction: column;
  }

  .mitigation-side {
    width: 100%;
    height: 100%;
  }

  .mitigation-header {
    background-size: 120%;
  }

  .mitigation-types-header {
    background-size: 240%;
  }

  .mitigation-side:first-of-type {
    margin-bottom: 30px;
  }

  .mitigation-type {
    width: 49%;
    height: 100px;
  }

  .features {
    max-width: 500px;
    margin: 0 auto;
  }
}
