.mitigation {
  display: flex;
}

.mitigation-side {
  display: flex;
  flex-direction: column;

  width: 50%;
  height: 720px;
}

.mitigation-side:first-of-type {
  margin-right: 40px;
}

.mitigation-item {
  width: 100%;
  border-radius: 9px;
  padding: 15px;
  margin-bottom: 15px;

  background-color: #1b1a17;
  box-shadow: 5px 5px 5px black;
}

.mitigation-header {
  height: 300px;

  background-image: url("../images/ethernet.jpg");
  background-size: 100%;

  margin-bottom: 25px;
}

.mitigation-header h2 {
  font-weight: normal;
}

.mitigation-types {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  justify-content: space-between;
  align-content: space-between;
}

.mitigation-types-header {
  font-weight: normal;

  background-image: url("../images/globe.png");
  background-size: 160%;

  margin-bottom: 25px;

  height: 350px;
}

.mitigation-type {
  display: flex;
  width: 46%;
  height: 29%;
}

.mitigation-type h3 {
  margin: auto auto;
  font-weight: normal;
}

.mitigation-types-header h2 {
  font-weight: normal;
}
