/* || PRICING */

.plan-features {
  border-radius: 9px;
  border-collapse: collapse;

  background-color: #1b1a17;
  box-shadow: 9px 9px 9px black;

  width: 100%;
}

.plan-features td,
.plan-features th {
  padding: 10px 10px;
}

.plan-features th {
  text-align: left;
}

.plan-features tr:nth-child(even) {
  background-color: #24231f;
}

.plan-features h4 {
  font-size: 1em; /* Prevents font size from scaling so large */

  font-weight: normal;
  margin-bottom: 5px;
}

.plan-features p {
  font-size: 1em;

  color: lightgreen;
}

.plan-features button {
  font-weight: bold;
  font-size: 1em;

  padding: 10px;
  width: 100%;
  height: 55px;

  border: none;
  border-radius: 5px;

  color: #fff;
  background-color: seagreen;
}

.plan-features button:hover {
  background-color: #3ebc76;
}

.icon-yes {
  color: lightgreen;
}

.icon-no {
  color: crimson;
}

.enterprise {
  margin-top: 40px;
}

.enterprise h2 {
  font-weight: normal;
  margin-bottom: 5px;
}

.enterprise a:link,
.enterprise a:visited {
  color: lightgreen;
}

.enterprise a:hover {
  color: #bcf5bc;
}

/* || Media Queries */

/* Mobile Styles */
@media only screen and (max-width: 450px) {
  .plan-features {
    font-size: 0.85em;
  }

  .plan-features td,
  .plan-features th {
    padding: 10px 5px;
  }

  .plan-features button {
    font-size: 0.8em;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 451px) and (max-width: 950px) {
  .plan-features button {
    font-size: 0.9em;
  }
}
