* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  font-family: sans-serif;
  color: #fff;
  background-color: #262521;
}

.page {
  width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  padding: 10px 0px 30px 10px;
}

.header {
  padding-top: 20px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 75%;
}

.navbar {
  margin-top: 45px;
}

.navbar li {
  display: inline;
  font-size: 1.2em;
  text-shadow: 7px 7px 8px black;
  margin-right: 45px;
}

.navbar li:last-of-type {
  margin-right: 0px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: darkseagreen;
}

.introduction {
  width: 100%;
  height: 300px;
  border-radius: 9px;

  padding: 15px;

  background-color: #1b1a17;
  box-shadow: 5px 5px 5px black;
}

.title-image {
  background-image: url("images/servers.jpg");
  background-size: 120%;
}

.world-image {
  margin-top: 20px;
  background-image: url("images/world_map.png");
  height: 505px;
}

.introduction p {
  font-size: 1.3em;
  width: 550px;
}

.transition {
  margin-bottom: 30px;
  margin-top: 50px;
}

.transition h2 {
  font-size: 1.9em;
}

.features {
  display: flex;
  justify-content: row;

  height: 200px;
  margin-bottom: 10px;
}

.feature-box {
  background-color: #1b1a17;
  border-radius: 9px;
  width: 350px;

  padding: 15px;
  margin-right: 10px;

  box-shadow: 5px 5px 5px black;
}

.feature-box h3 {
  margin-bottom: 10px;
  font-size: 1.25em;
}

.feature-box:last-of-type {
  margin-right: 0px;
}

.footer {
  height: 25px;
  background-color: #1b1a17;

  display: flex;
  justify-content: center;
}

.footer li {
  display: inline;
  margin-right: 100px;
}

.footer li:last-of-type {
  margin-right: 0px;
}
