* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  font-family: sans-serif;
  color: #fff;
  background-color: #262521;
}

.page {
  width: 900px;
  margin: 0 auto;

  display: flex;
}

.header {
  padding: 20px;
  height: 140px;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 75%;
}

.navbar {
  margin-top: 50px;
}

.navbar > li {
  display: inline;
  margin-right: 45px;
}

.navbar > li:last-of-type {
  margin-right: 0px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}
